body {
    margin: -20px auto;
    padding: 0;
    background-image: url(../images/email-pattern.png);
    color: #777777;
}

h1 {
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.headcontainer{
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    border: 0;
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #cccccc; 
}

.name { 
    background-color: #4aaaa5; 
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    float: left; 
    width: 175px; 
    height: 30px;
    margin-left: 140px;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-right: 160px;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }


  .aboutme{
    padding: 20px 20px 5px 20px;
    color: #4aaaa5;
    margin-top: 40px;
    margin-left: 5px
  }

  .afteram {
      border: 1px solid #dddddd;
      margin-left: 20px;
      margin-right: 20px;
  }

  .maincontent{
    background-color: #ffffff;
    height: 500px;
    width: 960px; 
    margin: 0 auto;
    margin-bottom: 75px;
  }

  img {
      float: left;
      padding: 10px 20px 5px 20px;
      margin-top: 0;
      margin-left: -20px;
  }

  .bio {
      padding: 20px;
      line-height: 26pt;
  }

  .maincontent2{
    background-color: #ffffff;
    height: 500px;
    width: 950px; 
    margin: 0 auto;
    margin-bottom: 450px;
      }
    
    .maincontent3{
        background-color: #ffffff;
        height: 1000px;
        width: 950px; 
        margin: 0 auto;
        margin-bottom: 450px;
      }


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .column {
      padding: 20px;
  }

  .text-block{
      position: absolute;
      text-align: center;
      margin-top: 170px;
      color: #ffffff;
      background-color: #4aaaa5;
      width: 317px;
      height: 65px
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    text-align: center;
  }

  .foottext{
      margin-top: 30px;
      margin-bottom: 6px;
      font-size: 13px;
  }

  @media screen and (max-width: 980px){
        .maincontent{
          width: 50%;
          height: 30%;
          float: left;
          margin-top: 30px;
          margin-left: 30px;
        }
  }